@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@font-face {
    font-family: 'Heavitas';
    src: url('../../public/assets/web/fonts/Heavitas.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@theme {
    /* 1. You can make Poppins your default sans font */
    --font-sans:
        'Poppins', 'Instrument Sans', ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';

    --font-heavitas: 'Heavitas';

    /* 2. And also add it as a standalone utility (gives you `font-poppins`) */
    --font-poppins: 'Poppins', sans-serif;
}
